<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{foldername}}</title>
  <link href="{{sitelink}}"/>
  <link rel="self" href="{{atomlink}}" />
  <updated>{{lastdate}}</updated>
  <id>{{sitelink}}</id>
  <generator uri="https://github.com/dieseltravis/github-pages-directory-listing/tree/dieseltravis-html" version="0.1">dieseltravis/github-pages-directory-listing@dieseltravis-html</generator>
  <icon>{{rootlink}}/favicon.ico</icon>
  <subtitle>Atom feed containing the files in {{foldername}}</subtitle>