<entry>
	<title>{{filename}}</title>
	<link href="{{filelink}}" />
	<id>{{filelink}}</id>
	<published>{{filepubdate}}</published>
	<updated>{{filepubdate}}</updated>
	<summary>{{filename}} {{filedate}} {{size}}</summary>
	<content type="xhtml">
		<div xmlns="http://www.w3.org/1999/xhtml">
			<pre>{{filename}} {{filedate}} {{size}}</pre>
			<a href="{{filelink}}"><img src="{{filelink}}" alt="{{filename}}" /></a>
		</div>
	</content>
	<author>
		<name>{{foldername}}</name>
		<uri>{{sitelink}}</uri>
	</author>
</entry>
