<!doctype html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index of {{foldername}}</title>
    <style>
        body {
            font-family: monospace;
        }
        tbody th, td {
            text-align: left;
        }
        td {
            padding: 0.5rem;
        }
        img {
            max-width:1rem;
            margin-right:0.5rem;
        }
    </style>
</head>
<body>
<h1>Index of {{foldername}}</h1>
<table>
    <thead>
        <tr>
            <th><a href="?C=N;O=A">Name</a></th>
            <th><a href="?C=M;O=A">Last modified</a></th>
            <th><a href="?C=S;O=A">Size</a></th>
        </tr>
    </thead>
    <tbody>
