<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
   <channel>
      <title>{{foldername}}</title>
      <link>{{sitelink}}</link>
      <description>RSS feed containing the files in {{foldername}}</description>
      <language>en-us</language>
      <pubDate>{{lastdate}}</pubDate>
      <lastBuildDate>{{lastdate}}</lastBuildDate>
	  <ttl>179</ttl>
	  <docs>http://blogs.law.harvard.edu/tech/rss</docs>
	  <generator>dieseltravis/github-pages-directory-listing@dieseltravis-html</generator>
      <atom:link href="{{rsslink}}" rel="self" type="application/rss+xml" />